<form method="POST">

    <input type="email" name="email" placeholder="College Email" required>

    <input type="password" name="password" placeholder="Password" required>

    <select name="department" required>
        <option value="">Select Department</option>
        <option value="Data Science">Data Science</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Cyber Security">Cyber Security</option>
    </select>

    <button type="submit">Register</button>

</form>