<!DOCTYPE html>
<html>
<head>
<title>{{ skill }} Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='skillverse-ui.css') }}">
</head>
<body style="padding:40px;">

<h2>{{ skill }} Test</h2>

<form action="/submit_test" method="POST">

<h4>1. Python is?</h4>
<input type="radio" name="q1" value="1"> Programming Language<br>
<input type="radio" name="q1" value="0"> Snake<br><br>

<h4>2. Which is loop?</h4>
<input type="radio" name="q2" value="1"> for<br>
<input type="radio" name="q2" value="0"> print<br><br>

<h4>3. Which is datatype?</h4>
<input type="radio" name="q3" value="1"> int<br>
<input type="radio" name="q3" value="0"> run<br><br>

<button type="submit">Submit Test</button>

</form>

</body>
</html>