<!DOCTYPE html>
<html>
<head>
    <title>Registered Students</title>
</head>
<body>
    <h1>Registered Students</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Skills</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="/logout">🚪 Logout</a>
</body>
</html>
